.pokemon-name {
  font-size: 32px;
  font-weight: bold;
}
.subtitle {
  font-size: 24px;
  font-weight: bold;
}

.pokemon-detail-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  align-content: center;
}

.pokemon-detail-text-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  gap: 1rem;
}

.pokemon-detail-image {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 750px) {
  .pokemon-detail-image {
    width: 200px;
    height: 200px;
  }

  .pokemon-name {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }
}

strong {
  font-weight: bold;
}
